.section{
    border: 2px solid rgb(25, 25, 27);
    margin: 20px;
    padding: 10px;
    background-color: rgb(248, 231, 211);
    height: 1600px;
}
tr{
    border: 10px solid rgb(6, 6, 6);
}
#sign,#date{
    padding-top: 50px;
    margin-top: 0%;
}


.table0,.table01{
    width: 100%;
    
}
 th, td,tr ,tbody{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(248, 231, 211);
    text-align: center;
  }
th{
    padding: 10px;
    font-weight: bolder;
    text-align: center;
}
table,tr,td{
    border-collapse:collapse;
    border: 1px solid black;
    padding: 20px;
    }
.table2,.table1{
    width: 100%;
}

input{
    border: none;
    background-color: rgb(248, 231, 211);
}